/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis/icon?family=Material+Icons');

html{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(to left, #A43931, #1D4350);
  background: linear-gradient(to left, #A43931, #1D4350);
}
